#login-container {
    background-color: #CB4BA7;
    border-radius: 2rem;
    min-height: 30rem;
    margin: 4rem;
    width: 80%;
    font-size: 14px;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px rgba(0,0,0, 0.22);


}
#login-container h1 {
    font-weight: bold;
    margin:0;
    padding: 3rem
}
.login-form {
   display: flex;
   flex-direction: column; 
   height: 100%;
   width: 100%;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 0 1rem

}
.login-form div {
    margin: 0;
    width: 80%;
    box-sizing: border-box;
    padding:0.5rem
}

.login-form label {
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 1rem;
    margin-left: 5rem;
}
.login-form input{
    display:inline;
    float: right;
    background-color: #ffffff;
    padding: 1rem 2rem;
    width: 60%;
    box-sizing: border-box;
    border: #ffffff;
    border-radius: 1rem;

}
.login-form button {
    border: 1px solid #ffffff;
    border-radius: 3rem;
    background: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 0.7rem 2rem;
    margin-top: 3rem;
    margin-left: 7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    
}
.login-form button:hover {
    background: #CB4BA7;
}
.login-form button:active {
    transform: scale(0.95);
}
.login-form button:focus {
    outline:none
}
.login-form  a {
    text-decoration:  none;
    margin-left: 2rem;
    color: white;
    transition: transform 80ms ease-in;
    
}
.login-form a:hover {
    color: #000000;
}
.login-form div a:active {
    transform: scale(0.95);
}