#login-container {
    background-color: #CB4BA7;
    border-radius: 2rem;
    box-shadow: 4px 4px 2px #cb4ba7;
    height: 30rem;
    margin-top: 4rem;
    position: relative;
    width: 40rem;
    max-width: 100%;
    min-height: 20rem;
    font-size: 14px;

}
form {
   display: flex;
   flex-direction: column; 
   padding: 2rem 2rem;
   height: 100%;
   justify-content: flex-start;
   text-align: center;
   align-items: center;
}
form h1 {
    font-weight: bold;
    margin:0
}
form input {
    background-color: #ffffff;
    border: none;
    padding: 1rem 2rem 1rem 1rem;
    margin: 1rem 0;
    width: 60%
}
form button {
    border: 1px solid #ffffff;
    border-radius: 3rem;
    background: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1rem;
    padding: 0.7rem 0.9rem;
    margin-top: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
form button:active {
    transform: scale(0.95);
}
button:focus {
    outline:none
}
form a {
    text-decoration:  none;
    color: white;
    transition: transform 80ms ease-in;
    
}
form a:active {
    transform: scale(0.95);
}