.popup {
  margin-right: -1700px;
}

.big-whiteboard-component-container {
  margin-top: 200px;
}

.math {
  margin-top: 20px;
  margin: 50px;
}

img {
  width: 100px;
  margin-bottom: 10px;
  margin-left: 800px;
  margin-top: -110px;
}

span {
  color: blue;
}
