#navigation-bar{
    margin:0;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    background-color:  #CB4BA7;
    color: #ffffff;
    min-height: 10rem;
    max-width: 100%;
}
#navigation-bar li {
    padding: 1rem;
}
#navigation-bar li:hover {
background-color:#B282A1;
transform: scale(0.95);
}
#navigation-bar li a{
    padding: 0.5rem;
    text-decoration: none;
    color: #ffffff
}

#navigation-bar li a:hover{
   cursor: pointer;
}